<%- include('partials/head')%>

    <%- include('partials/navbar')%>
    <h1>Home Page <%= "Hello".toUpperCase() %></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, rerum animi? Possimus atque voluptate officiis culpa, ex repellendus doloribus assumenda reprehenderit exercitationem perferendis dignissimos praesentium ullam, officia rerum minima labore.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro obcaecati quia libero non harum fugit voluptates quis cupiditate quam ad, odio illo impedit aspernatur consectetur distinctio repudiandae explicabo aliquam delectus!</p>
<%- include('partials/footer')%>