<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page <%= "Hello".toUpperCase() %></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, rerum animi? Possimus atque voluptate officiis culpa, ex repellendus doloribus assumenda reprehenderit exercitationem perferendis dignissimos praesentium ullam, officia rerum minima labore.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro obcaecati quia libero non harum fugit voluptates quis cupiditate quam ad, odio illo impedit aspernatur consectetur distinctio repudiandae explicabo aliquam delectus!</p>
</body>
</html>